# ignore build folders
build/
bin/
target/

# ignore gradle folder
.gradle/

# ignore eclipse folders and settings
.settings/
.project
.classpath
.DS_Store

# ignore IntelliJ idea folders and settings
.idea/
*.iml
